# JWT secret 
jwt.secret=mytestsecret
# JWT expiry time in milliseconds
jwt.expiry=11200000 

# DB is the name of the MariaDB/MySQL service, defined in docker-compose.yml.
# Pay attention to the database name, which in this case is "restaurant".
MYSQL_URL= jdbc:mysql://db:3306/restaurant?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false

# Data used in MySQL/MariaDB configuration service, described in the docker-compose.yml file.
MYSQL_DATABASE= 
MYSQL_USER= 
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=